<%= form_with( model: user,url: {action: "index_update"}, local: true) do |form| %>
  

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :name%>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :email%>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role, id: :role%>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.text_field :sex, id: :sex%>
  </div>

  <div class="field">
    <%= form.label :phonenumber %>
    <%= form.text_field :phonenumber, id: :phonenumber%>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :status%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
