

  <%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'style-responsive'%>
  <%= stylesheet_link_tag 'zabuto_calendar' %>
  <%= stylesheet_link_tag 'table' %>   
      <!--main content start-->
         <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
                 <p class="centered"><a href= <%= managers_index_path %>>
                  <%= image_tag "manager_header.jpeg" , :width => '60'%></a></p>
                  <h5 class="centered">数据管理中心</h5>
                    
                  <li class="mt">
                        <%= link_to managers_index_path, class: "active" do %>
                          <i class="fa fa-dashboard"></i>
                          <span>管理后台</span>
                        <% end %>
                  </li>

                  <li class="sub-menu">
                      <%= link_to managers_index_path do %>
                          <i class="fa fa-desktop"></i>
                          <span>信息查询</span>
                      <% end %>
                  </li>

                  <li class="sub-menu">
                      <%= link_to chats_show_managers_path do %>
                          <i class="fa fa-home"></i>
                          <span>用户聊天室信息</span>
                      <% end %>
                  </li>

                  <li class="sub-menu">
                      <%= link_to messages_show_managers_path do %>
                          <i class="fa fa-file-text-o"></i>
                          <span>聊天信息</span>
                      <% end %>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
        <div>
 
          <section class="wrapper">
                 
      <!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->
                    <div style=" float: left; width: 50%;">
                    <h3>欢迎来到用户聊天信息中心</h3>
                    <table class="imagetable">
                      <thead>
                        <tr>
                          <th>姓名</th>
                          <th>聊天室名</th>
                          <th>消息</th>
                          <th>创建于</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @msg_infoms.each do |msg_infom| %>
                          <tr>
                            <td><%= msg_infom.user.name %></td>
                            <td><%= msg_infom.chat.name %></td>
                            <td><%= msg_infom.body %></td>
                            <td><%= msg_infom.created_at %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>

                  </div>
                  <div class="col-lg-3 ds" style="float: right;">
                    <div class="basic-grey">
                      <fieldset>
                        <legend>请输入待查寻相关信息</legend>
                          
                          <%= form_tag(  action: "messages_show" )do %>
                            
                            <div class="field">
                              <%= label_tag(:user_name, "用户名") %>
                              <%= text_field_tag(:user_name) %>
                            </div>
                            <div class="field">
                              <%= label_tag(:chat_name, "聊天室名") %>
                              <%= text_field_tag(:chat_name) %>
                            </div>
                            <div class="field">
                              <%= label_tag(:key_word, "消息关键字") %>
                              <%= text_field_tag(:key_word) %>
                            </div>
                            <div class="field">
                              <%= label_tag(:send_at, "消息发送于") %>
                              <%= text_field_tag(:send_at) %>
                            </div>
                            <%= submit_tag("查询") %>
                          <% end %>
                      </fieldset>
                    </div>
                      
                  </div><!-- /col-lg-3 -->
          </section>
          </div>
      </section>

      <!--main content end-->
  </section>
  


  

  
  <script type="application/javascript">
        $(document).ready(function () {
            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });
        
            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                legend: [
                    {type: "text", label: "Special event", badge: "00"},
                    {type: "block", label: "Regular event", }
                ]
            });
        });
        
        
        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>
