<div class="live_wrap">
  <div class="u_header">
    <h1 class="fl">个人中心</h1>
    <a href="/" class="back fr" >返回首页</a>
  </div>
  <div class="u_main">
    <div class="u_nav">
      <ul>
        <li>
          <%= link_to user_path(current_user, :flag=>1), class: "#{@class_1}" do %>
              我的信息
          <% end %>
        </li>
        <li>
          <%= link_to user_path(current_user, :flag=>2), class: "#{@class_2}"  do %>
              我的好友
          <% end %>
        </li>
        <!--
        <li>
          <%= link_to user_path(current_user, :flag=>3), class: "#{@class_3}"  do %>
              会员充值
          <% end %>
        </li>
        -->
      </ul>
    </div>
  </div>
  <div class="u_mainbody">
    <% if params[:flag] == '1' or params[:flag] == nil %>
        <div class="row">
          <div class="col-sm-3 ">
            <img src="/assets/学习使我快乐.jpg" height="150" width="150">
          </div>
          <div class="u_info col-sm-6" style="background: #eee">
            <p>姓名：<%= current_user.name %></p>
            <p>电话：<%= current_user.phonenumber %></p>
            <p>email: <%= current_user.email %></p>
            <p>性别：<%= current_user.sex %></p>
          </div>
        </div>
    <% else params[:flag] == '2'%>
        <% if params[:friend_id] == nil %>
            <div class="col-sm-5" style="margin-left:40px;">
              <div class="u_header-2">好友列表</div>
                <table style="margin-top:20px; ">
                  <tbody style="font-size:18px">
                  <% @friends.each do |user| %>
                      <tr style=" margin: 15px;">
                        <td style="border-collapse: collapse;border: 1px solid #aaa; padding: 6px 15px 6px 6px; ">
                          <a class="u_a" href=<%= "/users/#{@current_user.id}?friend_id=#{user.id}&flag=2" %> ><%= user.name %></a>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
            </div>
        <% else %>
            <div class="row">
            <div class="col-sm-3 ">
            <img src="/assets/dalao带带本垃圾吧.jpg" height="150" width="150">
            </div>
              <div class="u_info col-sm-6" style="background: #eee">
                <p>姓名：<%= @user.name %></p>
                <p>电话：<%= @user.phonenumber %></p>
                <p>email: <%= @user.email %></p>
                <p>性别：<%= @user.sex %></p>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
</div>
